/* general */
*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    font-family: sans-serif;
}

.col-1,
.col-2,
.col-3{
    flex: 1;
}

.row{
    display: flex;
}
/* general */
/* Inicio barra navegacion */
.L-barra{
    list-style-type: none;
    font-weight: bold;
    justify-content: space-between;
}

.input{
    margin: 10px;
}

.p{
    padding: 10px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    border-right: #e0e0e0 solid 1px;
    text-decoration: none;
    color: black;
}

.buscador{
    border-radius: 30px 0px 0px 30px; 
    background-image: url(img/Lupa.png);
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}

.imgm2{
    width: 50px;
    border-radius: 0px 30px 30px 0px;
}

.barra{
    width: 1200px;
    justify-content: center;
    background: rgb(224,224,224);
    background: linear-gradient(0deg, rgba(224,224,224,1) 0%, rgba(247,247,246,1) 100%);
    border-radius: 2px;
}

.img-menu{
    width: 70px;
}

/* Fin barra navegacion */
/* Inicio main */
.main{
    text-align: center;
    border: #e0e0e0 solid 1px;
    width: 1200px;
}

.titulo{
    font-weight: 50;
    color: #BBBBBB;
}

.flecha{
    padding-left: 40px;
}

.color-m{
    background: rgb(240,240,240);
    background: linear-gradient(0deg, rgba(240,240,240,1) 0%, rgba(253,253,253,1) 100%);
}

.t-img{
    width: 1200px;
    padding: 0 auto;
    margin: 0 auto;
}

.b{
    list-style-type: none;
    text-align: start;
}

.c{
    padding: 5px;
    background-color: gray;
    width: 1200px;
}

.but{
    border: none;
    background-color: gray;
}

.o{
    color: white;
}

.on{
    color: #b6f0fb;
}

.bloque{
    border: #e0e0e0 solid 1px;
    width: 1200px;
}

.pad{
    padding: 20px;
}

.but1{
    background: rgb(63,112,143);
    background: linear-gradient(0deg, rgba(63,112,143,1) 0%, rgba(84,147,189,1) 100%);
    border: none;
    border-radius: 5px;
    color: white;
    padding-left: 20px;
}

.but2{
    background: rgb(92,155,206);
    background: linear-gradient(0deg, rgba(92,155,206,1) 0%, rgba(96,181,243,1) 100%);
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 5px;
    color: white;
}

.b-r{
    border-right: #e0e0e0 solid 1px;
    width: 450px;
    padding: 10px;
}

.pa{
    text-align: left;
}

.bm{
    padding: 15px;
}

.tm{
    width: 30px;
}

/* footer */
.footer{
    width: 1200px;
}

.lista{
    list-style-type: none;
}

.lista a{
    text-decoration: none;
    color: #767676;
}

.esp{
    padding: 10px;
}

.E{
    padding-left: 40px;
}

.IM{
    width: 35px;
}

.color{
    color: #767676;
}

.bor{
    border-top: #e0e0e0 solid 1px;
}

.ff{
    border-top: #e0e0e0 solid 1px;
    padding-top: 25px;
}

.fr{
    border-right: #e0e0e0 solid 1px;
}

.lst{
    list-style-type: none;
    width: 200px;
}

.ai{
    align-items: center;
    padding: 10px;
}