/* general */
*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    font-family: sans-serif;
}

.col-1,
.col-2,
.col-3{
    flex: 1;
}

.row{
    display: flex;
}
/* general */
/* Inicio barra navegacion */
.L-barra{
    list-style-type: none;
    font-weight: bold;
}

.p{
    padding: 10px;
}

.buscador{
    border-radius: 20px; 
    background-image: url(img/menu_icon2.png);
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}

.barra{
    width: 1200px;
    justify-content: center;
}

.img-m{
    width: 1200px;
}
/* Fin barra navegacion */
/* Inicio main */
.main{
    text-align: center;
}

.t-img{
    width: 1200px;
}

.b{
    list-style-type: none;
}

.c{
    padding: 5px;
    background-color: gray;
    width: 1200px;
    justify-content: start
}

.but{
border: none;
background-color: gray;
}

.on{
    color: #b6f0fb;
}