/* general */
*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

.col-1,
.col-2,
.col-3{
    flex: 1;
}

.row{
    display: flex;
}
/* general */
.L-barra{
    list-style-type: none;
}

.p{
    padding: 10px;
}

.buscador{
    border-radius: 20px;
}

.barra{
    border:solid black 1px;
    justify-content: center;
}

.img-m{
    width: 1200px;
}
